body{
    background-color: lightblue;
    margin: 0px;
    padding: 0px;
}

header{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.296);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}

#foto{
    height: 350px;
    width: 350px;
    border-radius: 50%;
}